net  Clk          loc=A9;  #12 MHz board clock
net  RxD_Data(0)  loc=R15; # CHAN1 (lsb)
net  RxD_Data(1)  loc=R16; # CHAN2
net  RxD_Data(2)  loc=M15; # CHAN3
net  RxD_Data(3)  loc=M16; # CHAN4
net  RxD_Data(4)  loc=K15; # CHAN5
net  RxD_Data(5)  loc=K16; # CHAN6
net  RxD_Data(6)  loc=J16; # CHAN7
net  RxD_Data(7)  loc=J14; # CHAN8 (msb)
net  Sync_RxD     loc=F16; # CHAN10
net  RxD          loc=C16; # CHAN11
net  RxD_Error    loc=C15; # CHAN12
net  Start_TxD    loc=T4;  # CHAN15
net  TxD_Data(0)  loc=R2;  # CHAN16 (lsb)
net  TxD_Data(1)  loc=R1;  # CHAN17
net  TxD_Data(2)  loc=M2;  # CHAN18
net  TxD_Data(3)  loc=M1;  # CHAN19
net  TxD_Data(4)  loc=K3;  # CHAN20
net  TxD_Data(5)  loc=J4;  # CHAN21
net  TxD_Data(6)  loc=H1;  # CHAN22
net  TxD_Data(7)  loc=H2;  # CHAN23 (msb)
net  Next_TxDat   loc=F2;  # CHAN25
net  TxD          loc=B1;  # CHAN29
net  Reset        loc=A2;  # CHAN31
net  Read_RxDat   loc=R7;  # CHAN0
net  RxD_Boot     loc=T7;  # CHAN-CLK
